form {
    margin: 20px;
}

input, textarea {
    width: 100%;
    padding: 10px 10px;
}

.form_group {
    margin: 15px 0;
}

.contact_btn {
    background-color: teal;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
}

