.project_item {
    width: 250px;
    height: 300px;
    border: 1px solid black;
    box-shadow: 10px 10px 10px #333;
}

.project_item img {
    width: 100%;
}

.project_item_text {
    padding: 10px;
    text-align: center;
}

.project_item_text a {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    padding: 10px 20px;
    border: 2px solid var(--text-color);
    border-radius: 10px;
    margin: 10px 0;
}

.project_item_text a:hover {
    background-color: var(--main-color);
    color: white;
}